body{
	font-family:arial
}
ul,p,table{
    list-style-position: inside;
	text-align: center;
	align-self: right; 
	color: #d9f9f6;
}
h3{ 
	text-align: center;
	color: #88e2da;
}
h1{ text-align: center;
	color: #06e0cd;
}


a:link {
    color:#f7fffe ;
}

a:visited {
    color: #f7fffe;
}

a:hover {
    color: #211caf;
}

a:active {
    color: #211caf;
}
hr{
	border-color:#06e0cd;
	border-top-width: 20%;
}
img {
    
}