
ul {
  list-style-type: none;
}

.pic{
	margin-right:10%;
	float:left;
}
/* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

 }
 @media only screen and (max-width: 768px){ 
 
 }
 @media only screen and (min-width: 768px){ 
  .container{
	margin-left:30%
}
.title{
font-size: 30;
}

}
