


.pic{
	float:left;
	margin-top:5%;
}
.para{
	margin-left:15%;
	margin-top:12%;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}
@media only screen and (max-width: 768px){ 
  .pic{
   margin-left:7%;
   margin-bottom:12%;
}}
 @media only screen and (min-width: 768px){ 
 
  body{

	  text-align:center;
  }
  .container  {
    font-size: 250%;
  }
 }